<h1>Login!</h1>

<form action="<%= session_url %>" method="POST">
  <%= auth_token %>

  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Log me in!">

</form>
